# You can configure your scheduler in either <quartz> configuration section
# or in quartz properties file
# Configuration section has precedence

quartz.scheduler.instanceName = QuartzWinService
#集群中每台服务器自己的id，AUTO表示自动生成，无需修改  
quartz.scheduler.instanceId = AUTO    

#-【线程相关】configure thread pool info 
#quartz线程池的实现类，无需修改 
quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz
#quartz线程池中线程数，可根据任务数量和负责度来调整  
quartz.threadPool.threadCount = 10
#quartz线程优先级 
quartz.threadPool.threadPriority = Normal

#-【作业调度信息通过配置文件存储相关】job initialization plugin handles our xml reading, without it defaults are used
quartz.plugin.xml.type = Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz
quartz.plugin.xml.fileNames = ~/quartz_jobs.xml

#-【监控相关】export this server to remoting context
quartz.scheduler.exporter.type = Quartz.Simpl.RemotingSchedulerExporter, Quartz
quartz.scheduler.exporter.port = 555
quartz.scheduler.exporter.bindName = QuartzScheduler
quartz.scheduler.exporter.channelType = tcp
quartz.scheduler.exporter.channelName = httpQuartz

#-【集群相关】
#quartz.jobStore.clustered = true
#quartz.scheduler.instanceId = auto

#-【作业调度信息通过数据库存储相关】
#SQL脚本-https://github.com/quartznet/quartznet/blob/master/database/tables/tables_sqlServer.sql
#[表]-QRTZ_BLOB_TRIGGERS        以Blob 类型存储的触发器。
#[表]-QRTZ_CALENDARS            存放日历信息， quartz.net可以指定一个日历时间范围。
#[表]-QRTZ_CRON_TRIGGERS        存储CronTrigger，包括Cron表达式和时区信息
#[表]-QRTZ_FIRED_TRIGGERS       存储与已触发的Trigger相关的状态信息，以及相联Job的执行信息
#[表]-QRTZ_JOB_DETAILS          存储每一个已配置的Job的详细信息
#[表]-QRTZ_LOCKS                集群实现同步机制的行锁表
#[表]-QRTZ_PAUSED_TRIGGER_GRPS	存储已暂停的Trigger组的信息
#[表]-QRTZ_SCHEDULER_STATE	    存储少量的有关Scheduler的状态信息，和别的Scheduler实例
#[表]-QRTZ_SIMPLE_TRIGGERS	    存储简单的Trigger，包括重复次数、间隔、以及已触的次数
#[表]-QRTZ_SIMPROP_TRIGGERS	    
#[表]-QRTZ_TRIGGERS	            存储已配置的Trigger的信息
#存储类型
#quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
#表名前缀
#quartz.jobStore.tablePrefix = QRTZ_
#驱动类型
#quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
#quartz.jobStore.dataSource = QuartzDemo
#连接字符串
#quartz.dataSource.QuartzDemo.connectionString = server=.\SQL2008;database=QuartzCluster;user id=vincent;password=vincent;min pool size=200;max pool size=200;packet size=3072
#sqlserver版本 SqlServer-20
#quartz.dataSource.QuartzDemo.provider = SqlServer-20
#最大链接数
#quartz.dataSource.QuartzDemo.maxConnections = 5

#-【调度器插件相关】
quartz.plugin.MyPlugin.type = QuartzWinService.Plugin.JobsSchedulerPlugin, QuartzWinService